

.carousel-item img{
    height: 350px;
    object-fit: fill;
}

.carousel-inner {
       
    padding: 0;
}
.carousel-item {
   
    padding: 0;
}

@media (max-width: 480px) {
    .carousel-item img {
        /* max-width: 300px; */
        height: 220px; /* Adjust height to auto to maintain aspect ratio */
        object-fit: cover; 
        
    }
}